<div class="kali-style">
    <h1 class="h1-kali-style">User profile</h1>
    <h1 class="h1-kali-style">(for authorized users only)</h1>
    <div *ngIf="userProfileNames" class="kali-style">
        <p class="p-kali-style">Call userProfile/names API (authorization is required):</p>
        <ul style="list-style: none;">
            <li *ngFor="let userProfileName of userProfileNames" class="p-kali-style">- {{userProfileName}}</li> 
        </ul>
    </div>
    <p class="p-kali-style">
        <a routerLink="/" class="a-kali-style">Back to welcome page</a>
    </p>
</div>